html {
    background-color: #191927;
    color: rgb(224, 235, 247);
    margin: 0;
    padding: 0;
}
body {
    padding: 0;
    margin: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}
@media (max-width: 1023px) {
  body {
    width: inherit;
    margin-left: 15px;
    margin-right: 15px;
  }
}
h1 {
    font-family: Georgia, serif;
    font-weight: 200;
}
textarea {
    font-family: Menlo, Monaco, monospace;
    width: 100%;
    text-rendering: optimizeleibility;
    background-color: #242432;
    border: 1px solid #272735;
    border-radius: 3px;
    padding: 3px;
    color: rgba(224, 235, 247, 0.8);
}
